body{
    margin:0px ;
    padding:0px ;
    font-family: sans-serif;
    background-color:#f5f5f5 ;
}
.btn{
   display: flex; 
   justify-content: center;
   align-items: center;
   height: 100px; ;
   list-style: none;
   padding:0 ;
}
.text{
    background-color: white;
    border: 1px solid ;
    padding:10px  ;
    text-align: center;
    width: 150px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.img{
    width:100px ;
    border-radius: 10px;
}